// sizeMobile = 640px
// sizeDesktop = 1024px

// //background-site: radial-gradient(circle at 50% 100%, #02afe2, #0177c1);
// // background-site = #0177c1
// label-color = rgba(255, 255, 255, 0.5)
// line-input = rgba(255, 255, 255, 0.12)
// label-focus-color = white
// text-color = white
// accentColor = #7C4DFF
// primaryTextColor = #212121

// .icon
//   color: text-color

// .Title-Evento 
//   font-size 2em
//   font-weight 300
//   font-style normal
//   font-stretch normal
//   letter-spacing 0.9px
//   text-align center
//   color text-color

// input, md-input-container .md-input
//     color: text-color


//  md-input-container:not(.md-input-invalid).md-input-has-value label 
//     color: label-focus-color


// md-input-container label 
//     color label-color

// .submit
//   color text-color