.admin-table
  th,
  td
    padding 1rem
    text-align left
  td
    color rgba(0,0,0,.7)
    font-size .9rem
  tr
    border-bottom 1px solid rgba(0,0,0,.12)
    align-items center
    &:hover
      background-color #CCC
    &.confirmed
      td
        color rgba(0,0,0,.2)
  thead
    th
      font-size .7em
      font-weight bold    
      text-transform uppercase