<table layout="column" class="admin-table" >
  <thead layout="column">
    <tr layout="row">
      <th flex="10" ></th>
      <th flex="35" >Email</th>
      <th flex="35" >Nombre completo</th>    
    </tr>
  </thead>
  <tbody layout="column">
    <tr layout="row" ng-repeat="(key, profile) in $ctrl.profiles" ng-if="!profile.inscription.status">      
      <td flex="10" >
        <button ng-click="$ctrl.addToEvent(key)" ng-if="!profile.inscription.status">Inscribir</button>
      </td>
      <td  flex="35" >{{profile.profile.email}} </td>
      <td  flex="35" >{{profile.profile.firstName}} {{profile.profile.lastName}}</td>
    </tr>
  </tbody>
</table>
