<div flex="50">
  <form name="profileForm" method="post" novalidate ng-submit="$ctrl.doAction();">
      <md-input-container class="md-block">
        <md-icon>email</md-icon>
        <input ng-model="$ctrl.profile.email" type="email" placeholder="Email (required)" ng-required="true">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <md-icon>person</md-icon>
        <input ng-model="$ctrl.profile.firstName" placeholder="Nombres" type="text" ng-required="true">
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <md-icon>person</md-icon>
        <input ng-model="$ctrl.profile.lastName" placeholder="Apellidos" type="text" ng-required="true">
      </md-input-container>

      <div>
          <md-button 
            class="submit md-raised" 
            type="submit"
            ng-disabled="profileForm.$invalid"
            ng-click="acceptOffer();"> 
              {{$ctrl.submitText}}
          </md-button>
      </div>
  </form>
</div>