<md-card>
  <md-card-content>
    <div class="login__form">
      <form name="loginForm" method="post" novalidate ng-submit="$ctrl.login();">
        <div>
          <md-input-container class="login__input" >
            <label for="">Email</label>
            <input 
              type="email" 
              name="email" 
              required="required"
              ng-model="$ctrl.userData.email">
            </md-input-container>
        </div>
        <div>
          <md-input-container class="login__input" >
            <label for="">Password</label>
            <input 
              type="password" 
              name="password" 
              required="required"
              ng-model="$ctrl.userData.password">
            </md-input-container>
        </div>
        <div>
          <md-button
            type="submit"
            ng-disabled="loginForm.$invalid"
            class="md-raised md-primary login__button">
            Login
          </md-button>
        </div>
      </form>
    </div>
  </md-card-content>
</md-card>