Crear perfil de usurio

<form name="addForm" method="post" novalidate ng-submit="$ctrl.add()">    
    <div>
        <label for="name">Nombre</label>
        <input type="text" name="firstName" data-ng-model="$ctrl.profile.firstName" required>
    </div>
    <div>
        <label for="name">Apellido</label>
        <input type="text" name="lastName" data-ng-model="$ctrl.profile.lastName">
    </div>
    <div>
        <label for="name">Fecha de nacimiento</label>
        <input type="text" name="birthDate" data-ng-model="$ctrl.profile.birthDate">
    </div>
    <div>
        <label for="name">Telefono</label>
        <input type="text" name="phone" data-ng-model="$ctrl.profile.phone">
    </div>
    <div>
        <label for="name">Genero</label>
        <input type="text" name="gender" data-ng-model="$ctrl.profile.gender">
    </div>
    
    <div>
        <button type="submit" 
                ng-disabled="addForm.$dirty && addForm.$invalid">
            Add Profile
        </button>
    </div>
</form>